/* css styles */


h2, h3, h4, h5, h6 {
  color: #39729E;
}

h1 {
  color: #ffffff;
}

.navbar {
    background-color: #39729E;
}

.quarto-title-banner {
    margin-bottom: 1em;
    /* color: #fff; */
    background-color: #39729E;
}